.App {

}

.App-logo {

}

.App-header {

}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: white;
  background-color: white;
  overflow-x: hidden;
  transition: 0.5s;
}

.hide {
  display: none;
  transition: 0.5s;
}

.nav {
  display: flex;
  flex-direction: row;
}

.nav button {
  margin: auto;
}

.nav form {
  width: 400px;
}

.nav .word-input {
  margin: 10px 20px;
}

.nav .word-button {
  margin-top: 5px;
}